body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    position: relative;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
    background: var(--header-background-image) center center / cover no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
}


.header-description {
    color: #fff; /* White color for visibility against darker backgrounds */
    font-size: 16px; /* Appropriate text size */
    margin-top: 5px; /* Space between the title and description */
    text-align: center; /* Center alignment for the text */
    max-width: 80%; /* Limits the width of the description text for better readability */
    margin-left: auto; /* Together with margin-right: auto, centers the text block */
    margin-right: auto;
}



.search-box {
    width: 100%; /* Ensures the search box takes full width of its container */
    max-width: 400px; /* Optional: constrains the maximum width of the search box */
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adds space between the title and the search box */
}

.search-box input[type="text"] {
    flex-grow: 1; /* Allows the input to expand to fill available space */
    border: 2px solid #ccc;
    padding: 8px;
    border-radius: 10px;
    outline: none;
}

.search-box button {
    padding: 8px 10px;
    background: #555;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 8px; /* Ensures some space between the input and the button */
}

.search-box button:hover {
    background: #666;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.release {
    margin-bottom: 20px;
}

.release h2 {
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

a {
    color: green;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.changeTitle {
    margin-left: 20px;
    font-size: 32px;
}

.change {
    margin-left: 20px;
    font-size: 16px;
}
