body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    border: 2px solid #ccc;
    padding: 8px;
    border-radius: 10px;
    outline: none;
}

.search-box input[type="text"]:focus {
    border-color: #666;
}

.search-box button {
    padding: 8px 10px;
    margin-left: 8px;
    background: #555;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-box button:hover {
    background: #666;
}

.container {
    width: 80%;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.release {
    margin-bottom: 20px;
}

.release h2 {
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

a {
    color: green;      /* Sets the text color to green */
    font-weight: bold; /* Makes the text bold */
    text-decoration: none; /* Optional: removes underline from links */
}

a:hover {
    text-decoration: underline; /* Optional: adds underline on hover for better usability */
}

.changeTitle {
    margin-left: 20px;
    font-size: 32px;
}

.change {
    margin-left: 20px;
    font-size: 16px;
}
